/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(226, 226, 226);
}

nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    background: white;
    overflow: hidden;
    transition: 1s;
}

nav:hover {
    width: 280px;
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 4px;
    padding-bottom: 3rem;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

/* .btn{
  position: absolute;
  margin-top: 8%;
  padding: 8%;
} */

a {
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 50px;
    top: 16px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    /* background: #eee; */
    /* color: white; */
    color: black;
}

a:hover i {
    /* color: rgb(176 227 225); */
    transition: 0.5s;
}

.logout {
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
}

/* MAin Section */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main .users {
    display: flex;
    width: 100%;
}

.users .card {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    transition-delay: 0.1s;

}

.card:hover {
    transform: scale(1.1);

}

.users .card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.users .card h4 {
    text-transform: uppercase;
}

/* .users .card p {
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
} */

.users table {
    margin: auto;
}

.users .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.users td {
    font-size: 14px;
    padding-right: 15px;
}
.btn{
    background-color: transparent;
    color: black;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    margin-bottom: 1%;
}
.btn:hover{
    background-color: black;
    color: white;

}
.users .card a {
    width: 100%;
    position: relative;
 

}

/*Attendance List serction  */
.main-page {
    margin-top: 20px;
    text-transform: capitalize;
}

.main-page-div {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-page-div h1 {
    text-align: center;
    margin-bottom: 2%;
    font-size: x-large;
}
.main-page-div p{
      text-align: justify;
}
.image-div{
    position: relative;
    text-align: center;
}
.image-flow-diagram{

    margin-bottom: 4%;
   /* align-content: center; */
   /* margin-left: 12.5%;
   margin-right: 12.5%; */
   width: 60%;
   position: relative;
}

/* footer */
.footer {
    position: absolute;
    background-color: black;
    width: 100%;
    justify-content: center;

}

.footer-main-div {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.footer-main-div a {
    color: white;
  

}
.footer-mail-div{
    margin-top: 4%;
}
.footer-call-div {
    margin-left: 5%;
    margin-top: 4%;
}

.footer-social-media-div li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 7%;
    cursor: pointer;

}

.footer-main-div a:hover,
.footer-social-media-div li:hover {
    color: aqua;
}

.copyright-footer-div {
    margin-top: 5%;
    color: white;
    margin-bottom: 2%;
    text-align: center;
}
